#Url settings
APP_NAME='L2jMobius CT0'
APP_SCHEME='http'
APP_DOMAIN='acm.l2jmobius.net'
APP_CDN="${APP_DOMAIN}/assets"
DEMO_MODE=false

#Server settings
LOGIN_HOST='127.0.0.1'
LOGIN_PORT='2106'
GAME_HOST='127.0.0.1'
GAME_PORT='7777'

#Loginserver Database settings
DB_HOST='localhost'
DB_USER='root'
DB_PASS=''
DB_NAME='l2jmobius'

#Gameserver Database settings
DB_GAME_HOST='localhost'
DB_GAME_USER='root'
DB_GAME_PASS=''
DB_GAME_NAME='l2jmobius'

#Stripe settings
STRIPE_SECRET_KEY="sk_test_51MXXXE8gWs235K0ZfzWrsR75dVPUTU3Iux7ngNmFXX7j4AQ5JcQsXsC83TkpxCdzWcX9nZa001r4uJELT"